<h3>GitHub User Data</h3>
<label>User name</label>
<input type="text" />
<button class="button success">Load</button>
<table border="1">
  <tr>
    <td>AVATAR</td>
    <td>ID</td>
    <td>NAME</td>
    <td>EMAIL</td>  
    <td>LOCATION</td>
    <td>USER NAME</td>  
    <td>ACTION</td>  
  </tr>
  <tr>
    <td><img width="50" /></td>
    <td>user_id</td>
    <td>user_login</td>
    <td>user_email</td>  
    <td>user_location</td>
    <td>user_name</td>  
    <td><a class="button" href="#/repos" >View repos</a></td>  
  </tr>
</table>